<nav>
    <div class="nav-wrapper blue light-blue">
        <a routerLink="/" class="brand-logo">ITransistion</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active">
                <!-- Url match with current page -->
                <a routerLink="login">Вход</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="register">Регистрация</a>
            </li>
        </ul>
    </div>
</nav>

<div class="auth-block">
    <router-outlet></router-outlet>
</div>